*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  font-family: "Space Mono";
}

body {
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 2rem 1rem;
  align-items: center;
}

input[type="Checkbox"] {
  width: 2rem;
  height: 2rem;
}

label {
  font-size: 3rem;
}
